.pizza {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pizza .pizzaTitle {
    font-family: cursive;
    font-size: 60px;
}

.pizzaList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.pizzaItem {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
}

.pizzaItem:hover {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);
    transition: 0.1s ease-in;
    cursor: pointer;
}

.pizzaItem div {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pizzaItem h1,
.pizzaItem p {
    margin-left: 20px;
}

.pizzaItem button {
    margin-left: 100px;
    padding: 10px;
    text-align: center;
    background-color: #2339AF;
}

.pizzaItem button:hover {
    background-color: #349C21;
}

.pizzaItem button a {
    text-decoration: none;
    color: #FFF;
}

.pizzaItem button a:hover {
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}

@media only screen and (max-width: 1300px) {
    .pizzaList {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 800px) {
    .pizzaList {
        grid-template-columns: 1fr;
    }
}